caption {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

thead {
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
}

body {
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
}

.delete-button {
    background-color: #9f0707;
    color: #fff;
}


h1 {
    font-family: 'Courier New', monospace;
    font-size: 2em;
    color: #000000;
}

label {
    width: 120px;
    display: inline-block;
    font-weight: normal;
    color: #1747e8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    white-space: normal;
}

select, input[type="text"], input[type="number"]{
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="button"] {
    margin-right: 10px;
}
